- content_for :step_title do
  %i.vs.vs-bell.text-primary
  .middle Notification Settings
%p.text-center How would you like to be notified when a cooler goes out of range?
= bootstrap_form_for @user, url: wizard_path, method: :put do |f|
  .row
    .col-sm-6
      = f.form_group :sms_notification, label: { text: 'Text Notifications'} do
        = f.check_box :sms_notification, label: ''
    .col-sm-6
      = f.form_group :email_notification, label: { text: 'Email Notifications'} do
        = f.check_box :email_notification, label: ''
  = f.text_field :phone, label: "Mobile", id: "phone"
  = f.email_field :email, disabled: true
  .text-center
    = link_to "Back", previous_wizard_path, class: "btn btn-default block-xs"
    = f.submit "Next", class: "btn btn-primary block-xs"
