= nav_link accounts_path do
  %i.nav-icon.vs.vs-dashboard
  Dashboard
= nav_link admins_path do
  %i.nav-icon.fa.fa-users
  Admins
= nav_link open_orders_path do
  %i.nav-icon.fa.fa-truck
  Orders
= render 'accounts/links', account: current_account
= render 'units/links', unit: current_unit
= render 'units/hardware_links', unit: current_unit
