- content_for :subtitle, "#{@cooler} (#{@cooler.unit}) is out of range"
%p
  #{@cooler} (#{convert_temp_for(@user, @cooler.sensor.temp)}째) has been more than
  #{scale_temp_for(@user, @unit.notify_threshold)}째 out of range
  (#{convert_temp_for(@user, @cooler.bottom_temp_threshold)}째 - #{convert_temp_for(@user, @cooler.top_temp_threshold)}째)
  for #{distance_of_time_in_words(@cooler.time_out_of_notify_range)}.
%p Use the buttons below to manage your notifications.
%center
  %p= link_to 'Notification Settings', edit_user_url(@user, anchor: 'notifications'), class: 'btn btn-primary'
  %p= link_to 'Unsubscribe', unsubscribe_users_url(token: @token, type: :email_notifications), class: 'btn btn-warning'
